# Vite exposes VITE_* values to the browser. Never place secrets in these variables.
VITE_CONTACT_EMAIL=hello@yourcompany.com
VITE_CAREERS_EMAIL=careers@yourcompany.com
VITE_LINKEDIN_URL=https://www.linkedin.com/company/yourcompany
VITE_HOME_LOTTIE_URL=https://lottie.host/path/home.lottie
VITE_ANDROID_LOTTIE_URL=https://lottie.host/path/android.lottie
VITE_FLUTTER_LOTTIE_URL=https://lottie.host/path/flutter.lottie
VITE_IOS_LOTTIE_URL=https://lottie.host/path/ios.lottie
VITE_UNITY_LOTTIE_URL=https://lottie.host/path/unity.lottie
VITE_ANGULAR_LOTTIE_URL=https://lottie.host/path/angular.lottie
VITE_TYPESCRIPT_LOTTIE_URL=https://lottie.host/path/typescript.lottie
VITE_HTML5_LOTTIE_URL=https://lottie.host/path/html5.lottie
